body,
html {
  font-family: "Poppins", sans-serif;
}

.App {
  min-height: 100vh;
  background-color: #fff;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  background: rgba(221, 221, 221, 0.541);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.search-form button.btn-search {
  background-color: #f9de59;
  color: #fff;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

input {
  text-indent: 10px;
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 575px) {
}

@media (min-width: 425px) {
}

@media (min-width: 320px) and (max-width: 424px) {
}
