.box {
  position: relative;
  box-shadow: 0;
  transform: scale(0.95);
  border-radius: 10px;
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
  overflow: hidden;
}

.box:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
