.nav {
  background: #a1dffb;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: sticky;
  color: #fff;
  z-index: 999;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.nav.active {
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
