.food-image {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.food-details {
  position: absolute;
  width: 100%;
  height: -100%;
  background: #f98365;
  padding: 20px 20px;
  bottom: 0%;
  color: #fff;
}

.food-details:hover {
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.205);
  transition: all 0.5s;
}

.food-content {
  position: relative;
  color: #fff;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
}

.btn.btn-view-recipe {
  color: #fff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #f9de59;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.btn.btn-view-recipe:hover {
  color: #fff;
  background-color: #f9de59;
}
